/* Fondo de la app */
body {
  background-color: rgb(148, 245, 245);
  margin: 20px 20px 20px 0px;
  padding: 30px 30px 30px 30px;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;

} 

#bingo-board {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: pink;
  color: rgb(230, 7, 103);
  margin: 20px;
  padding: 0;
  flex-wrap: wrap;
}

#puntajes-jugadores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(230, 7, 103);
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  margin: 20px;
  padding: 0;
  flex-wrap: wrap;
} 


#numero-generado {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(230, 7, 103);
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  margin: 20px;
  padding: 0;
  flex-wrap: wrap ;
}

img {
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(208, 3, 3);
  font-size: 50px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

p {
  text-align: center;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
  color: purple;
  font-size: 20px;  
  margin: 20px;
  padding: 0;
  flex-wrap: wrap;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold ;
  color: purple;
  font-size: 20px;
  margin: 20px;
  flex-wrap: wrap;
}

input {
  width: 100%;
  padding: 12px 20px;
  color: rgb(230, 7, 103);

  background-color: rgb(243, 236, 239);
  border: 3px solid rgb(230, 7, 103);
  border-radius: 6px;
  width: 150px;
}

#información-de-juego {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Información-jugador,
.Carton {
  width: 45%; /* Ajusta el ancho según sea necesario */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centra verticalmente el contenido */
  margin: 20px; /* Ajusta el margen según sea necesario */
  height: 300px; /* Altura fija para centrar verticalmente */
}

.Información-jugador label,
.Carton label {
  text-align: center;
  margin-bottom: 10px; /* Espaciado entre el label y el input */
}

.Información-jugador input,
.Carton input {
  text-align: center;
  width: 80%; /* Ancho del input, ajusta según sea necesario */
  margin-bottom: 20px; /* Espaciado entre el input y el botón */
}

.botones-jugador,
.botones-carton {
  margin-top: auto;
  text-align: center; 
}


#jugadores {
  text-align: center;
  align-self: center;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(230, 7, 103);
  background-color: rgb(243, 236, 239);
  border-radius: 7px;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  align-content: center;
  margin-top: 20px;
  padding: 0;
  flex-wrap: wrap;
}

#Generar-numero{
  text-align: center;
}

.fin-juego {
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    width: 200px; /* ajusta el ancho según sea necesario */
}

.fin-juego button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
#parte-de-abajo{
  justify-content: center;
  display: flex;
  flex-direction: column;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 300ms;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(230, 7, 103);
  color: rgb(243, 236, 239);
  font-weight: bold ;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  cursor: pointer;
  transition: 300ms;
}

button:hover {
  background-color: rgb(243, 236, 239);
  color: rgb(230, 7, 103);
  border: 1px solid rgb(230, 7, 103);
}


label {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(230, 7, 103);
  font-size: 20px;
  margin: 20px;
  padding: 0;
}

.fin-juego {
  display: flex;
  justify-content: center; /* Centrar horizontalmente los botones */
  align-items: center;
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

.fin-juego button {
  margin: 0 10px; /* Ajusta el margen entre los botones según sea necesario */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Tamaño de los numeros generados al azar */
td {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:rgb(230, 7, 103);
  font-size: 20px;
  margin: 20px;
  padding: 0;
}

/* Estilo para las celdas marcadas con 'X' */
td.marcado {
  background-color: rgb(230, 7, 103); /* Color de fondo cuando está marcado */
  color: white; /* Color del texto cuando está marcado */
  font-weight: bold; /* Texto en negrita cuando está marcado */
}

th {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  font-size: 20px;
  margin: 50px;
  padding: 50px;
}

@media (min-width: 768px) {
  /* Estilos para pantallas más grandes (tablets y laptops) */
  #bingo-board,
  #puntajes-jugadores,
  #numero-generado {
    width: 50%;
  }
}

@media (min-width: 992px) {
  /* Estilos para pantallas aún más grandes (laptops y pantallas grandes) */
  #bingo-board,
  #puntajes-jugadores,
  #numero-generado {
    width: 33.33%;
  }
}

